.content {
    display: flex;
}

.a {
    width: 30%;
}

.b {
    width: 70%;
}

.images {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 307px 307px;
    grid-template-rows: 205px 205px;
    row-gap: 10%;
    column-gap: 10%;
}

.subtitle {
    color: white;
    font-size: 40px;
    margin-top: 3%;
    width: 100%;
    text-align: center;
}

.calendar {
    width: 100%;
    height: auto;
    background: rgb(134, 134, 133);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#prev {
    margin-left: 10%;
    color: #e04c40;
}

#next {
    margin-left: 70%;
    color: #e04c40;
}

.body-list ul {
    width: 100%;
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
}

.body-list ul li {
    width: 13%;
    height: 40px;
    line-height: 40px;
    list-style: none;
    display: block;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.lightgrey {
    color: #a8a8a8;
}

.darkgrey {
    color: #565656;
}

.orange {
    color: #e04c40;
    text-align: center;
}

.orangebox {
    border: 1px solid #eab199;
    background-color: #f4a786;
}

.b img {
    width: 307px;
    height: 205px;
}